[Desktop Entry]
Name=PvZ Mod
Comment=Community reimplementation of Plants vs. Zombies GOTY — 100% authentic PvZ experience
Exec=/usr/bin/pvz-mod %U
Icon=allen98637.pvz-mod
Terminal=false
Type=Application
Categories=Game;Application;
StartupWMClass=pvz-portable
TryExec=/usr/bin/pvz-portable
